#parent {
    display: flex;
    justify-content: space-around;
  }
  
  #left {
    width: 40%;
  }
  
  #right {
    width: 40%;
  }

  .pull-left { 
    flex-grow: 1; 
  }

  .alignRight {
    float: left;
  }