.sidebar {
    background: lightgreen !important;
}

.navbar, .navbar-brand-wrapper {
    background: lightgreen !important;
}

.heading {
    color: white;
    font-weight: bold;
}

.details {
    /* height: 600px !important;
    width: 1150px !important; */
} 